@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://use.typekit.net/bto3byu.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
@import url("https://use.typekit.net/bto3byu.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}
img {
  border: 0;
  pointer-events: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  transition: 0.3s;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}
img {
  border: 0;
  pointer-events: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .header {
  width: 100%;
  height: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: start;
}
body .header .title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(206, 255, 109);
  padding: 0px 28px 0px 28px;
  color: #aeaeae;
}
body .header .title .headtxt {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
body .header .title #works {
  justify-content: start;
}
body .header .title #works ::before {
  content: "nowey.works";
  font: 25px/1.3 "orbit", sans-serif;
  letter-spacing: -4px;
  text-align: left;
  color: #aeaeae;
}
body .header .title #yewon {
  justify-content: end;
}
body .header .title #yewon ::before {
  content: "yewon.lee";
  font: 25px/1.3 "orbit", sans-serif;
  letter-spacing: -4px;
  text-align: left;
}
body .header .title .list {
  width: 600px;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
body .header .title .list .listtxt {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}
body .header .title .list .listtxt h1 {
  font: normal 12px/1.1 "orbit", sans-serif;
  text-align: right;
}
body .header .title .list .icon {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .title .list .icon h1 {
  font: normal 0px "orbit", sans-serif;
  font-weight: 400;
  text-align: right;
  opacity: 0;
}
body .header .title .list .icon:hover .iconimg, body .header .title .list .icon.on .iconimg {
  opacity: 1;
  width: 43px;
}
body .header .title .list .icon.on h1 {
  opacity: 1;
  font-size: 25px;
}
body .header .title .list .icon .iconimg {
  display: flex;
  width: 40px;
  opacity: 0.5;
}
body .header .title .list .icon .iconimg img {
  width: 100%;
}
@media screen and (max-width: 740px) {
  body {
    overflow: hidden;
  }
  body .header {
    height: 35px;
  }
  body .header .title {
    padding-right: 10px;
    padding-left: 8px;
  }
  body .header .title .headtxt {
    width: 40px;
    margin-bottom: 6px;
  }
  body .header .title #works ::before {
    content: "n.l";
    font: 20px/1.3 "orbit", sans-serif;
    letter-spacing: -4px;
  }
  body .header .title #yewon ::before {
    content: "y.l";
    font: 20px/1.3 "orbit", sans-serif;
    letter-spacing: -4px;
  }
  body .header .title .list {
    width: 330px;
    height: 35px;
  }
  body .header .title .list .listtxt {
    display: none;
    font-size: 0px;
  }
  body .header .title .list .icon:hover .iconimg, body .header .title .list .icon.on .iconimg {
    width: 32px;
  }
  body .header .title .list .icon.on h1 {
    font-size: 20px;
  }
  body .header .title .list .icon .iconimg {
    width: 30px;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .main {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
}
body .main .mainimage {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 50px);
  position: fixed;
  bottom: 0px;
  overflow: hidden;
}
body .main .mainimage img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
body .main .postbttns {
  z-index: 1;
  width: 100%;
  height: calc(100vh - 50px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .postbttns p {
  font: 30vw/1.3 "orbit", sans-serif;
  transition: 0s;
  color: rgb(206, 255, 109);
  letter-spacing: -4px;
  text-align: center;
}
body .main .gridbox {
  z-index: 2;
  width: 100%;
  height: calc(100vh - 200px);
  position: absolute;
  bottom: 0px;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow-x: hidden;
  overflow-y: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgb(0, 0, 0) 20px);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgb(0, 0, 0) 20px);
  mask-mode: match-source;
  -webkit-mask-mode: match-source;
}
body .main .gridbox::-webkit-scrollbar {
  display: none;
}
body .main .gridbox .gridframe {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 20px 0px;
  transition: 0.7s;
}
body .main .gridbox .gridframe.hidden {
  display: none;
}
body .main .gridbox .gridframe:hover {
  transform: translateY(-7px);
}
body .main .gridbox .gridframe .gridpost {
  width: 280px;
  height: 350px;
  display: flex;
  align-items: end;
  margin-left: 70px;
  transition: 0.7s;
}
body .main .gridbox .gridframe .gridpost .pleft {
  width: 250px;
  height: 350px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
  box-shadow: 0px 0px 3px rgb(51, 51, 51);
  background-color: #aeaeae;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 3px;
  padding: 4px 30px 0px 0px;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle {
  width: fit-content;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear h1, body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear h2, body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear em, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle h1, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle h2, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle em {
  position: relative;
  z-index: 14;
  margin-top: -4px;
  background-color: #f2f2f2;
  font: lighter 11px "orbit", sans-serif;
  font-weight: 80;
  letter-spacing: 0px;
  line-height: 2;
  color: #aeaeae;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear em::before, body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear em::after, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle em::before, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle em::after {
  width: 3px !important;
  height: 3px !important;
  margin-left: -2px;
  margin-top: 4px;
  background-color: #aeaeae;
  content: "";
  position: absolute;
  border-radius: 50%;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear h2, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle h2 {
  margin-left: 10px;
  padding-top: 2px;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear {
  box-shadow: 0px 0px 2px rgb(51, 51, 51);
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear h1 {
  z-index: 0;
  margin-top: -25px;
  margin-left: 20px;
  padding: 0px 5px;
  color: rgb(206, 255, 109);
  background-color: #aeaeae;
}
body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle {
  height: 100px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
  padding-top: 23px;
}
body .main .gridbox .gridframe .gridpost .pleft .pimg {
  height: 350px;
  width: 250px;
  position: absolute;
  top: 0%;
  left: 0%;
}
body .main .gridbox .gridframe .gridpost .pleft .pimg .pthumb {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
}
body .main .gridbox .gridframe .gridpost .pleft .pimg .pthumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main .gridbox .gridframe .gridpost .pleft .pimg .pthumb img.on {
  width: 95%;
  height: auto;
  object-fit: contain;
  margin-bottom: 5px;
}
body .main .gridbox .gridframe .gridpost .pcateimg {
  width: 22px;
  height: fit-content;
  z-index: 0;
  margin-bottom: 50px;
  padding: 5px 0px;
  background-color: rgba(247, 247, 247, 0.764);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  justify-content: end;
  align-items: center;
}
body .main .gridbox .gridframe .gridpost .pcateimg img {
  width: 15px;
  margin-top: 2px;
}
body .main .gridbox > .gridframe:nth-of-type(even) {
  margin-top: 80px;
}
body .main .about {
  width: 100%;
  height: 150px;
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 0px;
  padding: 30px 0px 0px 30px;
  display: flex;
  flex-flow: column;
}
body .main .about h1, body .main .about h2, body .main .about h3 {
  font-family: "orbit", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: rgb(206, 255, 109);
}
body .main .about .about-header {
  display: flex;
  height: 110px;
  width: 100%;
}
body .main .about .about-header h1 {
  font-size: 25px;
  text-align: left;
  width: fit-content;
}
body .main .about .about-header h1:hover {
  opacity: 0.6;
}
body .main .about .about-header .headerl {
  margin-right: 30px;
  width: fit-content;
}
body .main .about .about-header .headerr {
  width: fit-content;
  height: 110px;
  position: absolute;
  right: 30px;
  padding-top: 4px;
}
body .main .about .about-header .headerr h1, body .main .about .about-header .headerr em {
  font-size: 15px;
}
body .main .about .about-header .headerr em {
  font-style: normal;
}
body .main .about .about-sectionbox {
  display: none;
}
body .main .about.on {
  z-index: 3;
  background-color: rgb(206, 255, 109);
  height: calc(100vh - 50px);
}
body .main .about.on h1, body .main .about.on h2, body .main .about.on h3 {
  font-family: "orbit", sans-serif;
  font-weight: 100;
  color: #959595;
}
body .main .about.on .about-header .headerr {
  display: none;
}
body .main .about.on .about-sectionbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
body .main .about.on .about-sectionbox::-webkit-scrollbar {
  display: none;
}
body .main .about.on .about-sectionbox .aboutme {
  width: calc(100% - 550px);
  padding: 0px 60px;
  margin-top: 20px;
  overflow: auto;
}
body .main .about.on .about-sectionbox .aboutme::-webkit-scrollbar {
  display: none;
}
body .main .about.on .about-sectionbox .aboutme .aboutpics {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: column;
}
body .main .about.on .about-sectionbox .aboutme .aboutpics img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}
body .main .about.on .about-sectionbox .about-section {
  display: flex;
  width: 500px;
  padding-top: 20px;
}
body .main .about.on .about-sectionbox .about-section .about-cv {
  width: 100%;
  padding-bottom: 30px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
body .main .about.on .about-sectionbox .about-section .about-cv::-webkit-scrollbar {
  display: none;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox {
  display: flex;
  flex-flow: column;
  justify-content: start;
  height: fit-content;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvcate {
  width: 130px;
  margin-bottom: 20px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvcate h1 {
  font-size: 15px;
  text-align: right;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: start;
  height: fit-content;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .date {
  width: 130px;
  flex-shrink: 0;
  margin-right: 30px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .date h3 {
  font-size: 10px;
  text-align: right;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi {
  height: fit-content;
  width: 310px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: column;
  margin-bottom: 30px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight {
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: start;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft a h1, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight a h1 {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: #959595;
  color: #959595;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft a:visited, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight a:visited {
  color: #959595;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft a:hover, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight a:hover {
  opacity: 0.7;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 {
  font-size: 17px;
  line-height: 1.1;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1 em, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 em {
  display: inline;
  align-items: center;
  font-style: normal;
  margin-left: 2px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1 em::after, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 em::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #959595;
  border-radius: 50%;
  display: inline-block;
  margin-left: -2px;
  margin-top: -2px;
  vertical-align: super;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1 em::after, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 em::after {
  margin-left: -2px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1 em::before {
  margin-right: -2px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 {
  font-size: 15px;
  display: inline-block;
  hyphens: auto;
  margin-top: 5px;
  width: 100%;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 em, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 em {
  display: inline;
  align-items: center;
  font-style: normal;
  margin: 0px -3px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 em::after, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 em::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #959595;
  border-radius: 50%;
  display: inline-block;
  margin-left: -2px;
  vertical-align: super;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 em::after, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 em::after {
  margin-left: -10px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 em::before, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 em::before {
  margin-right: -10px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h3, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h3 {
  font-size: 10px;
  margin-top: 0px;
  hyphens: auto;
  word-break: break-word;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft {
  width: 200px;
}
body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight {
  width: 310px;
  margin-left: 20px;
}
@media screen and (max-width: 700px) {
  body {
    overflow: hidden;
  }
  body .main {
    width: 100%;
    height: calc(100vh - 35px);
  }
  body .main .mainimage {
    height: calc(100vh - 35px);
    top: 35px;
    width: 100vw;
  }
  body .main .mainimage img {
    width: 100%;
    height: 100%;
  }
  body .main .postbttns {
    width: 100vw;
    height: calc(100vh - 35px);
  }
  body .main .gridbox {
    height: calc(100vh - 35px - 150px);
    padding-top: 15px;
    bottom: 0px;
    padding-bottom: 50px;
  }
  body .main .gridbox .gridframe .gridpost {
    width: 300px;
    padding: 0px;
    box-sizing: border-box;
    height: 350px;
    margin-left: 0px;
  }
  body .main .gridbox .gridframe .gridpost .pleft {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  body .main .gridbox .gridframe .gridpost .pleft .pinfo h1, body .main .gridbox .gridframe .gridpost .pleft .pinfo em {
    font-size: 9px;
  }
  body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle {
    height: 50px;
  }
  body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle h1, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle em, body .main .gridbox .gridframe .gridpost .pleft .pinfo .ptitle h2 {
    font-size: 9px;
  }
  body .main .gridbox .gridframe .gridpost .pleft .pinfo .pyear h1 {
    font-size: 8px;
    margin-top: -20px;
  }
  body .main .gridbox .gridframe .gridpost .pleft .pimg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body .main .gridbox > .gridframe:nth-of-type(even) {
    margin-top: 0px;
  }
  body .main .about {
    top: 35px;
    height: calc(100vh - 35px);
    width: 100vw;
    overflow-x: hidden;
  }
  body .main .about .about-header {
    flex-flow: column;
  }
  body .main .about .about-header h1 {
    font-size: 15px;
  }
  body .main .about .about-header .headerr h1, body .main .about .about-header .headerr em {
    font-size: 10px;
  }
  body .main .about.on {
    top: 35px;
    height: calc(100vh - 35px);
    overflow-x: hidden;
  }
  body .main .about.on .about-sectionbox {
    flex-flow: column;
    justify-content: start;
    overflow-y: hidden;
    align-items: start;
  }
  body .main .about.on .about-sectionbox .about-section {
    height: calc(100vh - 35px - 140px);
    margin-top: 150px;
    width: 330px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvcate {
    width: 60px;
    margin-bottom: 10px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvcate h1 {
    font-size: 10px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .date {
    width: 60px;
    margin-right: 10px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h1, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h1, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h2 {
    font-size: 12px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h3, body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .infoleft h3 {
    margin-top: 0px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight {
    width: 220px;
    margin-top: 5px;
  }
  body .main .about.on .about-sectionbox .about-section .about-cv .cvbox .cvinfo .infoindi .inforight h2 {
    width: 100%;
  }
  body .main .about.on .about-sectionbox .aboutme {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    position: absolute;
    left: 0px;
    padding-left: 100px;
    padding-top: 5px;
  }
  body .main .about.on .about-sectionbox .aboutme .aboutpics {
    flex-flow: row;
    height: 100%;
    justify-content: start;
    align-items: start;
    width: auto;
  }
  body .main .about.on .about-sectionbox .aboutme .aboutpics img {
    width: auto;
    height: 100%;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
