@import "reset";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable';

@import url("https://use.typekit.net/bto3byu.css");
//font-family: "futura-pt"
// font-family: "roc-grotesk-extrawide", 
$ws: rgb(207, 207, 207);
$wt:#f2f2f2;
$gr: #aeaeae;
$bl: #959595;
$blur: rgba(247, 247, 247, 0.764);
// $yg: #b0ff13;
$yg:rgb(206, 255, 109);
$sd: rgb(51, 51, 51);

$dd: #ff5500;

$wh:50px;
$mh:35px;
$whs:calc(100vh - $wh);
$mhs:calc(100vh - $mh);

$fontsize: 11px;
$fontbonmun: 15px;
$fontinfo: 9px;

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .header{
        width: 100%;
        height: $wh;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: start;

        .title{
            width: 100%;
            height: 100%;

            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            
            background-color:$yg;
            padding: 0px 28px 0px 28px;
            color: $gr;

            .headtxt{
                width: 100px;
                height: 100%;
                display: flex;
                // align-items: end;
                align-items: center;
                margin-bottom: 5px;

            }
            #works{
                justify-content: start;
                ::before{
                    content: 'nowey.works';
                    font: 25px/1.3 "orbit", sans-serif;
                    
                    letter-spacing: -4px;
                    text-align: left;         
                    color: $gr;     
                }
            }
            #yewon{
              justify-content: end;
             
              ::before{
                content: 'yewon.lee';
                font: 25px/1.3 "orbit", sans-serif;

                letter-spacing: -4px;
                text-align: left;
            }
            }
            .list{
                width: 600px;
                height: 60px;

                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                
                .listtxt{
                    width: 60px;
                    height: 30px;

                    display: flex;
                    justify-content: right;
                    align-items:center;

                    margin-right: 10px;
                        h1{
                        font: normal 12px/1.1  "orbit", sans-serif;
                        text-align: right;
                    }
                }
                .icon{
                    width: fit-content;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // margin: 0px 0px;
                    
                    h1{
                        font: normal 0px  "orbit", sans-serif;
                        font-weight: 400;
                        text-align: right;
                        opacity: 0;
                    }

                    &:hover, &.on{
                        .iconimg{
                            opacity: 1;
                            width: 43px;
                        }
                    }
                    &.on{
                        h1{
                            opacity: 1;
                            font-size: 25px;
                        }
                    }
    
                    .iconimg{
                        display: flex;
                        width: 40px;
                        opacity: 0.5;
                        img{
                            width: 100%;
                        }
                    }

                }

            }
        }
    }


@media screen and (max-width: 740px){
    
    overflow: hidden;
    .header{
        height: $mh;
        .title{
            // padding: 0px 10px;
            padding-right: 10px;
            padding-left: 8px;
            
            .headtxt{
                // padding-bottom: 4px;
                width: 40px;
                // margin-top: 0px;
                margin-bottom: 6px;
            }
            #works{
            //   margin-left: 10px;
                ::before{
                    content: 'n.l';
                    font: 20px/1.3 "orbit", sans-serif;
                    letter-spacing: -4px;
                }
            }
            #yewon{
            //   margin-right: 10px;
                // padding-bottom: 4px;
            ::before{
                content: 'y.l';
                font: 20px/1.3 "orbit", sans-serif;
                letter-spacing: -4px;
            }
            }
            .list{
                width: 330px;
                height: $mh;
                .listtxt{
                    display: none;
                    font-size: 0px;
                }
                .icon{
                    &:hover, &.on{
                        .iconimg{
                            width: 32px;
                        }
                    }
                    &.on{
                        h1{
                            font-size: 20px;
                        }
                    }
                    .iconimg{
                        width: 30px;
                    }

                }
            }
        }
    
    }
}
}


