@import "reset";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable';

@import url("https://use.typekit.net/bto3byu.css");
//font-family: "futura-pt"
// font-family: "roc-grotesk-extrawide", 

@import "header";

$ws: rgb(207, 207, 207);
$wt:#f2f2f2;
$gr: #aeaeae;
$bl: #959595;
$blur: rgba(247, 247, 247, 0.764);
// $yg: #b0ff13;
$yg:rgb(206, 255, 109);
$sd: rgb(51, 51, 51);

$dd: #ff5500;

$wh:50px;
$mh:35px;
$whs:calc(100vh - $wh);
$mhs:calc(100vh - $mh);

$fontsize: 11px;
$fontbonmun: 15px;
$fontinfo: 9px;

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .main{
        width: 100%;
        height: $whs;

        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: start;
        .mainimage{
            z-index: 1;
            width: 100%;
            height: $whs;
            
            position: fixed;
            bottom: 0px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;               
            }
        }
        .postbttns{
            z-index: 1;
            width: 100%;
            height: $whs;
            position: fixed;

            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font: 30vw/1.3 "orbit", sans-serif;
                transition: 0s;
                color: $yg;
                letter-spacing: -4px;
                text-align: center;
            }
        }

        .gridbox{
            z-index: 2;
            width: 100%;
            height: calc(100vh - 200px);

            position: absolute;
            bottom: 0px;
            place-items: center;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

            overflow-x: hidden;
            overflow-y: auto;

            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 20px);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 1) 20px);
            mask-mode: match-source;
            -webkit-mask-mode: match-source;
            &::-webkit-scrollbar{
                display: none;
            }

            .gridframe{
                width: 350px;

                display: flex;
                align-items: center;
                justify-content: center;
                
                flex-shrink: 0;
                padding: 20px 0px;
                transition: .7s;

                &.hidden{
                    display: none;
                  }       
                  &:hover{
                    transform: translateY(-7px);
                    // transition: transform 0.7s ease;
                }
               
                .gridpost{
                    width: 280px;
                    height: 350px;
                    display: flex;
                    align-items: end;

                    margin-left: 70px;
                    transition: .7s;      

                    .pleft{
                        width: 250px;
                        height: 350px;

                        display: flex;
                        flex-flow: column;
                        justify-content: start;
                        align-items: start;

                        box-shadow: 0px 0px 3px $sd;

                    background-color: $gr;
         
                        .pinfo{
                            width: 100%;
                            height: 50px;

                            display: flex;
                            align-items: start;
                            justify-content: space-between;

                            padding: 3px;
                            padding: 4px 30px 0px 0px;

                            .pyear, .ptitle{
                                width: fit-content;
                                h1, h2, em{
                                    position: relative;
                                    z-index: 14;
                                    margin-top: -4px;
                                    background-color: $wt;

                                    font: lighter $fontsize  "orbit", sans-serif;
                                    font-weight: 80;
                                    letter-spacing: 0px;
                                    line-height: 2;
                                    color: $gr;                            
                                }
                                em{
                                    &::before, &::after{
                                        width: 3px !important;
                                        height: 3px !important;
                                        margin-left: -2px;
                                        margin-top: 4px;
                                        background-color: $gr;
                                        content: "";
                                        position: absolute;
                                        border-radius: 50%;
                                    }
                                  
                                }
                                h2{
                                    margin-left: 10px;
                                    padding-top: 2px;
                                }
                            }
                            .pyear{
                                box-shadow: 0px 0px 2px $sd;
                                h1{
                                    z-index: 0;
                                    margin-top: -25px;
                                    margin-left: 20px;
                                    padding: 0px 5px;
                                
                                    color: $yg;
                                    background-color: $gr;
                                }
                            }
                   
                            .ptitle{
                                height: 100px;      

                                display: flex;
                                flex-flow: column;
                                justify-content: start;
                                align-items: start;

                                padding-top: 23px;
                            }           
                        }
                        .pimg{
                            height: 350px;
                            width: 250px;
                            position: absolute;
                            top: 0%;
                            left: 0%;

                            .pthumb{
                                width: 100%;
                                height: 100%;

                                display: flex;
                                flex-flow: column;
                                align-items: center;
                                justify-content: end;
                                
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    
                                    
                                    &.on{
                                        width: 95%;
                                        height: auto; 
                                        object-fit: contain;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                    .pcateimg{
                        width: 22px;
                        height: fit-content;
                        z-index: 0;

                        margin-bottom: 50px;
                        padding: 5px 0px;

                        background-color: $blur;
                        backdrop-filter: blur(15px);
                        -webkit-backdrop-filter: blur(15px);

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

                        display: flex;
                        flex-flow: column;
                        justify-content: end;
                        align-items: center;

                            img{
                                width: 15px;
                                margin-top: 2px;
                            }
                        }
                    }   
               
                }         
            }
    .gridbox > .gridframe:nth-of-type(even) {
        margin-top: 80px;
      }

    .about{
        width: 100%;
        // height: $whs;
        height: 150px;
        z-index: 1;
        box-sizing: border-box;
        position: absolute;
        top: $wh;
        left: 0px;
        padding: 30px 0px 0px 30px;

        display: flex;
        flex-flow: column;

        h1, h2, h3{
            font-family:"orbit", sans-serif;
            font-style: normal;
            font-weight: 100;
            color: $yg;
        }

        .about-header{
            display: flex;
            height: 110px;
            // width: fit-content;
            width: 100%;
            // margin-bottom: 30px;
            h1{
                font-size: 25px;
                text-align: left;
                width: fit-content;
                &:hover{
                    opacity: .6;
                }
            }
            .headerl{
                margin-right: 30px;
                width: fit-content;
            }
            .headerr{
                width: fit-content;
                height: 110px;
                position: absolute;
                right: 30px;
                padding-top: 4px;
                h1, em{
                    font-size: 15px;
                    
                }
                em{
                    font-style: normal;
                }
            }

        }

        .about-sectionbox{
            display: none;
        }

        &.on{
            z-index: 3;
            background-color: $yg;
            height: $whs;
        
            h1, h2, h3{
                font-family:"orbit", sans-serif;
                // font-style: normal;
                font-weight: 100;
                color: $bl;
                
            }
            .about-header{
                .headerr{
                    display: none;
                }
            }

            .about-sectionbox{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;

                overflow: auto;
                &::-webkit-scrollbar {
                    display: none;
                }

                .aboutme{
                    width: calc(100% - 550px);
                    // height: 80%;
                    padding: 0px 60px;
                    margin-top: 20px;
                    // position: absolute;
                    // right: 50px;

                    overflow: auto;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .aboutpics{
                        width: 100%;
                        height: 100px;
                        display: flex;
                        flex-flow: column;
                        img{
                            width: 100%;
                            object-fit: contain;
                            margin-bottom: 10px;
                        }
                    }
                }

         
                .about-section{
                    display: flex;
                    width: 500px;
   
                    padding-top: 20px;

                    h1, h2, h3, em{
                        // display: inline;
                        // background-color: $yg;
                    }
    
      
                    .about-cv{
                        width: 100%;
                        
                        padding-bottom: 30px;
                        overflow: auto;
                        display: flex;
                        flex-flow: column;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .cvbox{
                            display: flex;
                            flex-flow: column;
                            justify-content: start;
                            height: fit-content;
                            .cvcate{
                                width: 130px;
                                margin-bottom: 20px;
                                h1{
                                    font-size: 15px;
                                    text-align: right;
                                }
                            }    
                            .cvinfo{
                                display: flex;
                                width: 100%;
                                justify-content: start;
                                align-items: start;
                                height: fit-content;
                                .date{
                                    width: 130px;
                                    flex-shrink: 0;
                                    margin-right: 30px;
                                    h3{
                                        font-size: 10px;
                                        text-align: right;
                                    }
    
                                }
                                .infoindi{
                                    height: fit-content;
                                    width: 310px;
    
                                    display: flex;
                                    align-items: start;
                                    justify-content: start;
                                    flex-flow: column;
    
                                    margin-bottom: 30px;
    
                                    .infoleft, .inforight{
                                        height: fit-content;
                                        display: flex;
                                        flex-flow: column;
                                        justify-content: start;
                                        align-items: start;
                                        a{
                                            h1{
                                            text-decoration-line: underline;    
                                            text-decoration-style: dotted;   
                                            text-decoration-color: $bl;     
                                            color: $bl;
                                        }
                                            &:visited {
                                            color: $bl;
                                            }
                                            &:hover{
                                                opacity: .7;
                                            }
                                        }
                                        h1{
                                            font-size: 17px;
                                            line-height: 1.1;
                                            display: inline-block;
                                            white-space: normal;
                                            word-break: break-word;
                                            overflow-wrap: break-word;
                                            em{
                                                display: inline;              
                                                align-items: center;
                                                font-style: normal;
                                                margin-left: 2px;
                                            
                                                &::before, &::after{
                                                content: "";
                                                width: 3px;
                                                height: 3px;
                                                background-color: $bl; // 원하는 색상
                                                border-radius: 50%;
                                                display: inline-block;
                                                //   position: absolute;
                                                margin-left: -2px;
                                                margin-top: -2px;
    
                                                vertical-align: super;
                                                }
                                                &::after{
    
                                                margin-left: -2px;
                                                }
                                                &::before{
    
                                                    margin-right: -2px;
                                                    }
                                            }
                                        }
                                        h2{
                                            font-size: 15px;
                                            display: inline-block;
                                            hyphens: auto;
                                            margin-top: 5px;
                                            width: 100%;
                                            em{
                                                display: inline;
                                                                            
                                                align-items: center;
                                                // gap: 4px;
                                                font-style: normal;
                                                margin: 0px -3px;
                                                // margin-left: 2px;
                                            
                                                &::before, &::after{
                                                content: "";
                                                width: 3px;
                                                height: 3px;
                                                background-color: $bl; // 원하는 색상
                                                border-radius: 50%;
                                                display: inline-block;
                                                //   position: absolute;
                                                margin-left: -2px;
                                            
                                                vertical-align: super;
                                                }
                                                &::after{
                                            
                                                margin-left: -10px;
                                                }
                                                &::before{
                                            
                                                    margin-right: -10px;
                                                    }
                                            }
                                        }
                                        h3{
                                            font-size: 10px;
                                            // text-align: right;
                                            margin-top: 0px;
                                            hyphens: auto;
                                            word-break: break-word;
    
                                        }
                                    }
    
                                    .infoleft{
                                        width: 200px;
                                        // height: 50px;
                                    }
                                    .inforight{
                                        width: 310px;
                                        margin-left: 20px;
                                    }
    
                                }
    
                            }
    
                        }
                    }
                }
            }

        }


    }
        
    }


    @media screen and (max-width: 700px){
        overflow: hidden;


            .main{
                width: 100%;
                height:$mhs;
                .mainimage{
                    height: $mhs;
                    top: $mh;
                    width: 100vw;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .postbttns{
                    width: 100vw;
                    height: $mhs;
                }
                .gridbox{
                   height: calc($mhs - 150px);
                   padding-top: 15px;
                   bottom: 0px;
                   padding-bottom: 50px;
                   .gridframe{
                    // padding-left: 0px;
                    .gridpost{
                        width: 300px;
                        padding: 0px;
                        box-sizing: border-box;
                        height: 350px;
                        margin-left: 0px;
                        .pleft{
                            width: 100%;
                            height: 100%;

                        box-sizing: border-box;
                        position: relative;
                            .pinfo{
                                h1, em{
                                    font-size: 9px;
                                }
                                .ptitle{
                                    height: 50px;
                                    h1, em, h2{
                                        font-size: 9px;
                                    }
                                }
                                .pyear{
                                    h1{
                                        font-size: 8px;
                                        margin-top: -20px;
                                    }
                                }
                            }
                            .pimg{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                   }

            
                }
                .gridbox > .gridframe:nth-of-type(even) {
                    margin-top: 0px;
                  }
                .about{
                    top: $mh;
                    height: $mhs;
                    width: 100vw;
                    overflow-x: hidden;
                    z-index: 11;
                    .about-header{
                        flex-flow: column;
                        h1{
                            font-size: 15px;
                        }

                        .headerr{
                            h1,em{
                                font-size: 10px;
                            }
                        }
                    }
                    &.on{
                        top: $mh;
                        height: $mhs;
                        // width: 100vw;
                        // overflow-x: hidden;

                        overflow-x: hidden;
                        .about-sectionbox{
                            flex-flow: column;
                            justify-content: start;
                            overflow-y: hidden;
                            align-items: start;
                            
                    .about-section{
                        // position: absolute;
                        height: calc($mhs - 140px);
                        // padding-top: 30px;
                        margin-top: 150px;
                        width: 330px;
                        // height: 85%;
                        .about-cv{
                            .cvbox{
                                .cvcate{
                                    width: 60px;
                                    margin-bottom: 10px;
                                    h1{
                                        font-size: 10px;
                                    }
                                }
                                .cvinfo{
                                    .date{
                                        width: 60px;
                                        margin-right: 10px;
                                    }
                                    .infoindi{
                                        .inforight, .infoleft{
                                            h1,h2{
                                                font-size: 12px;
                                            }
                                            h3{
                                                margin-top: 0px;
                                            }
                                        }
                                        .inforight{
                                            width: 220px;
                                            margin-top: 5px;
                                            h2{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .aboutme{
                        width: 100%;
                        height: 150px;
                        margin-top: 0px;
                        // top: 0px;

                        position: absolute;
                        left: 0px;
                        padding-left: 100px;
                        padding-top: 5px;
                        .aboutpics{
                            flex-flow: row;
                            height: 100%;
                            justify-content: start;
                            align-items: start;
                            width: auto;
                            img{
                                width: auto;
                                height: 100%;
                                margin-right: 5px;
                            }
                        }
                    }

                }
                }
                }
            }
    
    
    }
  
}




