@import "reset";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
// font-family: 'Pretendard Variable';

@import url("https://use.typekit.net/bto3byu.css");
//font-family: "futura-pt"
// font-family: "roc-grotesk-extrawide", 

$wt:#f2f2f2;
$gr: #aeaeae;
$bl: #959595;
$blur: rgba(247, 247, 247, 0.764);
$yg: #b0ff13;

$fontsize: 14px;
$fontbonmun: 15px;
$fontinfo: 9px;

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .header{
        width: 100%;
        height: 60px;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: start;

        .title{
            width: 100%;
            height: 100%;
            background-color:$yg;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 28px 0px 28px;
            .headtxt{
                width: fit-content;
                height: 100%;
                display: flex;
               align-items: center;
                h1{
                    font: 25px/1.3 "orbit", sans-serif;
                    margin-top: -7px;
                    letter-spacing: -4px;
                    text-align: left;
                    color: $gr;
                }
            }
            #works{
                justify-content: start;
            }
            #yewon{
              justify-content: end;
              color: $gr;
            }
            .list{
                width: 600px;
                height: 60px;
                // background-color: yellow;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                .listtxt{
                    display: flex;
                    justify-content: right;
                    align-items:center;
                    width: 60px;
                    height: 30px;
                    margin-right: 10px;
                    h1{
                    font: normal 12px/1.1  "orbit", sans-serif;
                    text-align: right;
                    color: $gr;
                }
            }
                .icon{
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    // flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0px 0px;
                    h1{
                        font: normal 0px  "orbit", sans-serif;
                        font-weight: 400;
                        text-align: right;
                        color: $gr;
                        opacity: 0;
                    }
                    &:hover{
                        .iconimg{
                            opacity: 1;
                            width: 55px;
                        }
                    }

                    &.on{
                        h1{
                            opacity: 1;
                            font-size: 25px;
                        }
                        .iconimg{
                            opacity: 1;
                            width: 55px;
                        }
                    }
    
                    .iconimg{
                        display: flex;
                        width: 50px;
                        opacity: 0.5;
                        img{
                            width: 100%;
                        }
                    }

                }

            }
        }
    }

    .main{
        width: 100%;
        height:calc(100vh - 60px);
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: start;

        .mainimage{
            position: fixed;
            z-index: 1;
            bottom: 0px;
            width: 100%;
            height: calc(100vh - 60px);
            overflow: hidden;
            img{
                width: 100%;
                height: 100vh;
                object-fit: cover;
                
            }
        }
        .postbttns{
            z-index: 1;
            width: 100%;
            height: calc(100vh - 60px);

            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            transition: 0s;

            p{
                font: 30vw/1.3 "orbit", sans-serif;
                transition: 0s;
                color: $yg;
                letter-spacing: -4px;
                text-align: center;
            }
        }

        
        .swiper{
            width: 100%;
            z-index: 2;
            height: 600px;
            position: absolute;
            bottom: 150px;
            display: flex;

            &.click{
                width: 100%;
                height: calc(100vh - 60px);
                bottom: 0px;

                transition: 0s;
                .swiper-wrapper{
                    padding: 0px;
                    transform: translate3d(0px, 0px, 0px);
                    :nth-of-type(even){
                        top: 0px;
                    }

                    .swiper-slide.off{
                        width: 0%;
                        height: 0%;
                    }

                    .swiper-slide.click{
                        opacity: 1;
                        position: absolute;
                        left: 0px;

                    margin-left: 0px;

            transition: .7s;

                        margin-top: 0px;
                        z-index: 10;
                        width: 100%;
                        height: 100%;
                        transform: rotate(0deg);

                        &:hover{
                            margin-top: 0px;
                        }
                        .pleft{
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        
                        .pinfo{
                            width: 100%;
                            height: fit-content;
                
                                display: flex;
                                justify-content: space-between;
                            
                                // flex-flow: row;
                                background-color: transparent;
                                position: relative;
                                // background-color: pink;

                        
                
                            z-index: 12;
                            h1, em{
                                font-size: 15px;
                                line-height: 1.2;
                                margin-left: 30px;
                                height: 25px;
                                background-color: transparent;
                                margin-top: 1px;
                    
                                color: $wt;

                                border-radius: 5px;
                                font-style: normal;

                                &::before{
                                    width: 5px;
                                    height: 5px;
                                    margin-right: 2px;
                                    background-color: $wt;
                                    content: "";
                                    position: absolute;
                                    border-radius: 50%;

                                }
                                
                            }

                    
                            .ptitle{
                                display: flex;
                                flex-flow: row;
                                position: relative;
                                height: fit-content;
    
                                right: 0px;
                                z-index: 13;
                                background-color: transparent;
                                position: absolute;
                    
                        
                            }
                            .pyear{
                                // display: flex;
                                position: absolute;
                                height: fit-content;
                                left: 30px;
                                width: fit-content;
                                z-index: 13;
                                // flex-flow: row;
                                // align-items:start;
                            
                            }

                    

                            .pin{
                                display: none;
                            }
                        }

                        .pimg{

                        padding-top: 25px;
                            height: fit-content;
                            width: 100%;
                            display: flex;
                            flex-flow: column;
                            align-items: start;
                            overflow: auto;
                            &::-webkit-scrollbar {
                                display: none;  /* Chrome, Safari, Opera */
                            }
                        
                        .pthumb{
                            display: none;
                            img{
                        
                                display: none;
                            }
                        }
                        .pimgrest{
                            display: block;
                            width: 100%;
                            display: flex;
                            flex-flow: column;
                            align-items: start;
                            position: relative;
                            .pimrestbox{
                                width: 100%;
                                display: flex;
                                flex-flow: column;
                                .imgnumber{
                                    position: absolute;
                                    height: 20px;
                                    width: 20px;
                                    // margin-top: 100px;
                                    background-color: $yg;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;


                                    p{
                                        font: 13px/1.3 "orbit", sans-serif;
                
                                        transition: 0s;
                                        color: $bl;
                                        // margin-top: -7px;
                                        // letter-spacing: -4px;
                                        text-align: center;
                                    }
                                    

                                }
                                img{
                                    width: 100%;
                                    
                                    top: 0%;
                                    object-fit: contain;
                                    // margin-bottom: 5px;


        
                                }
                                .video{
                                    width: 100%;
                                    left: 0px;
                                    margin-bottom: -5px;
                                    iframe {
                                        width: 100%;
                                        aspect-ratio: 16/9;
                                    }
                                }
                            }


                        }
                    }


                    
                        }
                        .pright{
                            display: block;
                            width: 40%;
                            height: calc(100vh - 160px);
                            bottom: 0px;
                            background-color: $blur;
                            backdrop-filter: blur(15px);
                            -webkit-backdrop-filter: blur(15px);

                            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */

                            .xbtn{
                                z-index: 11;
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                top: -30px;
                                right: 0px;
                                // background-color: black;
                                i{
                                    color: $wt;
                                }
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }

                            .wordblock{
                                overflow-x: hidden;
                                width: 100%;
                                height: calc(100% - 80px);
                                overflow-y: auto;
                                padding: 15px 15px 100px 0px;

                                // border: 1px solid darkseagreen;

                                &::-webkit-scrollbar {
                                    display: none;
                                }
                                
                    
                        
                                .kor, .eng{
                                    margin-left: 10%;
                                    width: 85%;
                                    text-align: left;
                                    margin-top: 10px;
                                    p{
                                        text-align: left;
                                        font:  $fontbonmun  "orbit", sans-serif;
                                        color: $bl;
                                        letter-spacing: -1px;
                                        // white-space: normal;
                                        overflow-wrap: break-word;
                                        word-break: break-word;
                                        strong{
                                            display: inline-block;
                                            width: 15px;
                                            height: 15px;
                                            color: $bl;
                                            text-align: center;
            
                                            font:  10px  "orbit", sans-serif;
                                            background-color: $yg;
                                            border-radius: 50%;
                                            vertical-align: super;
                                            // margin-top: -5px;
                                        }
            
                                        em {
                                        
                                            display: inline;
                                        
                                            align-items: center;
                                            // gap: 4px;
                                            font-style: normal;
                                        
                                            &::before, &::after{
                                            content: "";
                                            width: 6px;
                                            height: 6px;
                                            background-color: $bl; // 원하는 색상
                                            border-radius: 50%;
                                            display: inline-block;
                                            //   position: absolute;
                                            margin-left: -2px;

                                            vertical-align: super;
                                            }
                                            &::after{
                                
                                            margin-left: -2px;
                                            }
                                            &::before{
                                
                                                margin-right: -2px;
                                                }
                                        }

                                        a {
                                            text-decoration-line: underline;    
                                            text-decoration-style: dotted;   
                                            text-decoration-color: $bl;     
                                            color: $bl;
                                        
                                            &:visited {
                                            color: $bl;
                                            }
                                        }
                                    }
                
                                
                                
                                }
                                .eng{
                                    margin-left: 15%;
                                    opacity: .4;
                                }

                            }
                            
                            .grada{
                                position: absolute;
                                z-index: 1;
                                width: 100%;
                                height: 200px;
                                bottom: 0px;
                                background:linear-gradient(to bottom, transparent 0%,$wt 40%, $wt );
                                // border: 1px solid rebeccapurple;
                                // bottom: 80px;
                            }

                            .info{
                                height: 80px;
                                position: absolute;
                                z-index: 11;
                                bottom: 0px;
                                top:calc(100% - 80px);
                                display: flex;
                                justify-content: space-between;
                                flex-flow: row;
                                padding: 2px 10%;

                                    // border-top: 2px solid $bl;
                                width: 80%;
                                .infobox{
                                    display: flex;
                                    justify-content: start;
                                    padding: 5px 0px;
                                    width: fit-content;
                                    height: fit-content;
                                    .infoicon{
                                        display: flex;
                                        justify-content: start;
                                        align-items: start;
                                        width: 20px;
                                        margin-right: 5px;
                                        img{
                                            width: 100%;
                                        }
                                    }

                                    .infoletter{
                                        width: 90px;

                                        h1{
                                        text-align: left;
                                            font:  $fontinfo "orbit", sans-serif;
                                            color: $bl;
                                            letter-spacing: -1px;
                                        }

                                    }

                                }
                            }
                        }
                        .pcateimg{
                            display: none;
                        }
                    }
                }
                

 
            }

            
            .swiper-wrapper{
                display: flex;
                // align-items: center;
                // justify-content: center;
                flex-shrink: 0;
                padding: 20px 0px;
                // width: 80%;
                // left: 10%;

                :nth-of-type(even){
                    top: 80px;
                }
               
                .swiper-slide{
                    margin-left: 70px;

                    transition: .7s;
                    &.hidden{
                        display: none;
                      }                      
                    &:hover{
                        margin-top: -7px;
                    }

                    width: 280px;
                    height: 350px;
                    display: flex;
                    align-items: end;

                    .pleft{
                        width: 250px;
                        height: fit-content;
                        
                        display: flex;
                        flex-flow: column;
                        justify-content: start;
                        align-items: start;
                        
                        background-color: #ff0000;
                      
                   
                        .pinfo{
                            width: 100%;
                            height: 100px;
                            display: flex;
                            align-items: start;
                            justify-content: space-between;
                            h1, em{
                                // text-align: right;
                                font: normal $fontsize  "orbit", sans-serif;
                                color: $wt;
                                // color: $yg;
                                margin-top: -4px;
                                letter-spacing: -1px;
                                // background-color: $yg;
                           
                            }
                  
                            em{
                                &::before, &::after{
                                    width: 5px;
                                    height: 5px;
                                    margin-left: -2px;
                                    margin-top: 2px;
                                    background-color: $wt;
                                    content: "";
                                    position: absolute;
                                    border-radius: 50%;
    
                                }
                            }
                            .pyear{
                                width: fit-content;
                    
                            }
                            .pin{
                                width: 40px;
                                position: absolute;
                                left: 50px;
                                margin-top: -98px;
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }
                            .ptitle{
                                height: 100px;
                                width: fit-content;
                                
                                display: flex;
                                flex-flow: column;
                                justify-content: start;
                                align-items: start;
                 
                            }           
                        }
                        .pimg{
                            height: 250px;
                            width: 100%;

                            display: flex;
                            align-items: end; 
                          
                        .pthumb{
                            width: 100%;
                            display: flex;
                            flex-flow: column;
                            align-items: end;
                            img{
                                width: 100%;
                                height: auto; 
                                object-fit: contain;
    
                            }
                        }

                        .pimgrest{
                            display: none;
                        
                        }
                    }

                        
                    }
             
              
                    .pcateimg{

                        width: 30px;
                        margin-bottom: 50px;
                        height: fit-content;
                        padding: 5px 0px;
                        background-color: rgba(255, 255, 255, 0.623);
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);

                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

                                    display: flex;

                                    flex-flow: column;
                                    justify-content: end;
                                    align-items: center;
                                    img{
                                        width: 20px;
                                        margin-top: 2px;
                                    }
                                }

                    .pright{
                        display: none;
                    }
                        }             
                    }
    }

    .about{
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 30px 0px 0px 30px;
        width: 100%;
        height: calc(100vh - 60px);
        z-index: 1;
        display: flex;
        flex-flow: column;
    

        &.on{
            z-index: 3;
        background-color: $yg;
        
        h1, h2, h3{
            font-family:"orbit", sans-serif;
            font-style: normal;
            font-weight: 100;
            color: $bl;
            
        }

        .about-section{
            display: flex;
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        .about-cv{
            width: 100%;
            padding-bottom: 30px;
            overflow: auto;
            display: flex;
            flex-flow: column;
            &::-webkit-scrollbar {
                display: none;
            }
         

        .cvbox{
            // padding-top: 30px;
            display: flex;
            flex-flow: column;
            justify-content: start;

            height: fit-content;
            .cvcate{
                width: 130px;
                margin-bottom: 20px;
                h1{
                    font-size: 15px;
                text-align: right;
                }


            }
    
            .cvinfo{
                display: flex;
                width: 100%;
                justify-content: start;
                align-items: start;
                height: fit-content;

               
                .date{
                    width: 130px;
                    flex-shrink: 0;
                    margin-right: 30px;

                    h3{
                        font-size: 10px;
                        text-align: right;
                    }

                }
                .infoindi{
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    height: 80px;
                    width: 100%;

                height: fit-content;

                    margin-bottom: 30px;
                    .infoleft, .inforight{
                        display: flex;
                        flex-flow: column;
                        // justify-content: space-between;
                        justify-content: start;
                        align-items: start;
                 
                height: fit-content;
               

                    
                        h1{
                            font-size: 17px;
                            line-height: 1.1;
                            display: inline-block;
                            // margin-top: 2px;
                        
                            &:hover{
                                opacity: .7;
                            }

                                  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  em{
    display: inline;
                                 
    align-items: center;
    // gap: 4px;
    font-style: normal;
    margin-left: 2px;
  
    &::before, &::after{
      content: "";
      width: 3px;
      height: 3px;
      background-color: $bl; // 원하는 색상
      border-radius: 50%;
      display: inline-block;
    //   position: absolute;
    margin-left: -2px;

      vertical-align: super;
    }
    &::after{

      margin-left: -2px;
      }
      &::before{

        margin-right: -2px;
        }
  }
                        }
                        h2{
                            font-size: 15px;
                            display: inline-block;
                            hyphens: auto;
                            em{
                                display: inline;
                                                             
                                align-items: center;
                                // gap: 4px;
                                font-style: normal;
                                margin: 0px -3px;
                                // margin-left: 2px;
                              
                                &::before, &::after{
                                  content: "";
                                  width: 3px;
                                  height: 3px;
                                  background-color: $bl; // 원하는 색상
                                  border-radius: 50%;
                                  display: inline-block;
                                //   position: absolute;
                                margin-left: -2px;
                            
                                  vertical-align: super;
                                }
                                &::after{
                            
                                  margin-left: -10px;
                                  }
                                  &::before{
                            
                                    margin-right: -10px;
                                    }
                              }
                        }
                        h3{
                            font-size: 10px;
                            // text-align: right;
                            margin-top: 10px;
                            hyphens: auto;
                            word-break: break-word;

                        }
                        

                  
                    }

                    .infoleft{
                        width: 180px;
                        // height: 50px;
                    }
                    .inforight{
                        width: 300px;
                        margin-left: 20px;
                    }

                }

            }

        }
    }
}

        }
        h1, h2, h3{
            font-family:"orbit", sans-serif;
            font-style: normal;
            font-weight: 100;
            color: $yg;

          
            
        }
        .about-header{
            display: flex;
            margin-bottom: 30px;
            h1{
                font-size: 25px;
                text-align: left;
                width: 130px;
                &:hover{
                    
                    opacity: .6;
                }
            }
            .headerl{
                margin-right: 30px;

            }
            .headerr{
            }

        }


.about-section{
    display: none;
}
    }
        
    }


    @media screen and (max-width: 740px){
        overflow: hidden;
      
            .header{
                height: 50px;
                .title{
                    justify-content: center;
                    padding: 0px;
                    .headtxt{
                        display: none;
                    }
                    .list{
                        width: 300px;
                        height: 50px;
                        .listtxt{
                            display: none;
                        }
                        .icon{
                            &:hover{
                                .iconimg{
                                    width: 40px;
                                }
                            }
        
                            &.on{


                                .iconimg{
                                
                                    width: 40px;
                                }
                            }
            
                            .iconimg{
                               
                                width: 35px;
                           
                               
                            }

                        }
                    }
                }
               
            }

            .main{
                width: 100%;

                height:calc(100vh - 50px);
                .mainimage{
                    height: calc(100vh - 50px);
                    top: 50px;
                    width: 100vw;
                    img{
                        width: 100%;
                        height: 100%;

                    }
                }

                .postbttns{
                    width: 100vw;
                    height: calc(100vh - 50px);

                }
                .swiper{
                   height: 500px;
                   bottom: 0px;

                   .swiper-wrapper{
                    .swiper-slide{
                        width: 200px;
                        height: 250px;

                        .pleft{
                            width: 180px;
                            .pinfo{
                                height: 50px;

                                h1, em{
                                    font-size: 11px;
                                }

                                .pin{
                                    width: 25px;
                                    left: 23px;
                                    margin-top: -95px;
                                }
                                .ptitle{
                                    height: 50px;
                                }
                                
                            }
                            .pimg{
                                height: 200px;
                            }
                        }
                    }
                   }

                &.click{
                    height: calc(100vh - 50px);    
                    .swiper-wrapper{
                        .swiper-slide.click{
                            display: flex;
                            flex-flow: column;

                            .pleft{
                                width: 100%;
                                height: fit-content;

                                .pinfo{
                                    height: 20px;
                                    .pyear{
                                        display: none;
                                    }

                                    h1, em{
                                        font-size: 12px;
                                        height: fit-content;
                                        width: fit-content;
                                        margin: 0px 0px 0px 0px;
                                        margin-left: 10px;
                                    }
                                    .ptitle{
                                        // flex-flow: column;
                                        overflow-x: auto;
                                        &::-webkit-scrollbar {
                                            display: none;  /* Chrome, Safari, Opera */
                                        }
                                        
                                    }
                                }
                                .pimg{

                                    padding-top: 0px;
                                  .pimgrest{
                                    display: flex;
                                    flex-flow: row nowrap; // 요소를 가로로 나열
                                    overflow-x: auto;
                                    overflow-y: hidden;
                                    align-items: end;
                                    width: 100vw;
                                    height: fit-content;

                                    &::-webkit-scrollbar {
                                        display: none;  /* Chrome, Safari, Opera */
                                    }
                                    scroll-snap-type: x mandatory; // 핵심!!
                                    scroll-behavior: smooth;

                                    .pimrestbox{
                                        flex: 0 0 100vw; // 한 번에 한 화면 차지
                                        scroll-snap-align: start; // 왼쪽에 딱 맞게 스냅
                                        position: relative;
                                        width: 100vw;
                                        height: 100vw;
                                        background-color: black;
                                        img{

                                        width: 100vw;
                                        height: 100vw;
                                        }

                                        .video{
                                            flex: 0 0 auto; // shrink 방지
                                            width: 100%;
                                            height: 100%;
                                            background-color: black;
                                            iframe{
                                                width: 100%;
                                                height: 100%;
    
                                            background-color: black;
                                            }
                                        }
                                    }

                                  }

                                }
                            }
                            .pright{
                                width: 100%;
                                // height: 40%;
                                height: calc(100vh - 100vw - 70px);
                                .xbtn{
                                    top:0px;
                                    width: 20px;
                                    height: 20px;
                                }
                                .wordblock{
                                    padding-bottom: 60px;
                                    .kor, .eng{
                                        p{
                                            font-size: 10px;

                                        }
                                    }
                                }
                                .grada{
                                    height: 160px;
                                }
                                .info{
                                    height: 50px;
                                    padding: 2px 40px;
                                    .infobox{
                                        .infoicon{
                                            width: 15px;
                                        }
                                        .infoletter{
                                            h1{
                                                font-size: 7px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                }

                .about{
                    top: 50px;
                    height: calc(100vh - 50px);
                    .about-header{
                        flex-flow: column;

                        h1{
                            font-size: 15px;
                        }

                    }

                    &.on{
                    .about-section{

                        .about-cv{
                            .cvbox{
                                // margin-bottom: 20px;
                                height: fit-content;
                                .cvcate{
                                    width: 60px;
                                    margin-bottom: 10px;
                                    h1{
                                        font-size: 10px;
                                    }
                                }
                                .cvinfo{
                                    .date{
                                        width: 60px;
                                        margin-right: 10px;
                                    }
                                    .infoindi{
                                        flex-flow: column;
                                        .inforight, .infoleft{
                                            a{
                                                h1{
                                                text-decoration-line: underline;    
                                                text-decoration-style: dotted;   
                                                text-decoration-color: $bl;     
                                                color: $bl;
                                            }
                                                &:visited {
                                                color: $bl;
                                                }
                                            }
                                                                 
                                            h1,h2{
                                                font-size: 12px;
                                            }
                                            h3{
                                                margin-top: 0px;
                                            }
                                        }
                                        .inforight{
                                            width: 220px;
                                            margin-top: 5px;
                                            h2{
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                }
            }
    
    
    }
  
}




